/.phpunit.cache
/node_modules
/public1/build
/public1/hot
/public1/storage
/storage1/*.key
/storage1/pail
/vendor1
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.nova
/.vscode
/.zed
